---
layout: default
---

<script>
        $(document).ready(function(){
            $('#typewriteText').typewrite({
                actions: [
                    {type: 'Hello, I’m Yuwei, Master student at University of Pennsylvania.'}
                ]
            });
        });
    </script>





<div class="col-lg-8 offset-md-2">
  <div class="jumbotron" style="text-align: center;">
    <h1 class="display-4">Welcome to My World!</h1>
    <h3>"You deserve to be the person you were meant to be."</h3>
    <p class="lead" id="typewriteText"></p>
    <button class="btn btn-dark btn-lg"><a href="/about">About Me</a></button>
  </div>
</div>
